.calculator-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    background: #35654d;
    /* Green pool felt color */
    background-size: cover;
    padding: 20px;
    /* border-radius: 20px; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.calc-button {
    width: 22%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.red-button {
    background: linear-gradient(to bottom, #ff5c5c, #d9534f);
    color: white;
}

.black-button {
    background: linear-gradient(to bottom, #4c4c4c, #2c2c2c);
    color: white;
}

.foul-button {
    background: linear-gradient(to bottom, #ffeb3b, #fbc02d);
    color: black;
}

.miss-button {
    background: linear-gradient(to bottom, #9e9e9e, #757575);
    color: white;
}